<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ( '../partials/head' ) %>
    <title> <%= title %></title>
</head>

<body>
    <header>

        <%- include( '../partials/header' ) %>
 
    </header>

    <main class="main">

        <section class="on-page-seccion-mercaderia-en-exhibicion-usuarios">

            <article class="opmeu-caracteristicas-article">

                <div class="opmeu-caracteristicas-nombre">
                    <p>
                        <%= mercaderia.title %>
                </p>
                </div>
                <div class="opmeu-caracteristicas-fotos">
                    <h4 class="opmeu-caracteristicas-fotos-titular">Fotos</h4>
                </div>

                <div class="opmeu-caracteristicas-info">
                    <h4 class="opmeu-caracteristicas-info-titular">
                        Descripcion
                    </h4>
                </div>

                <div class="opmeu-caracteristicas-opciones">
                    
                    <button class="opmeu-boton-de-valoracion" type="button">Valorar</button>
                    <button class="opmeu-boton-interes" type="button">Cargar en el almacen</button>

                    <button class="opmeu-boton-de-negociacion" type="button">Iniciar negociacion</button>

                    <button class="opmeu-boton-de-compra" type="button">Comprar</button>
                </div>
                <div class="opmeu-opciones-edicion">
                    <button class="opmeu-boton-eliminar">Eliminar esta mercaderia</button>
                    <button class="opmeu-boton-editar">Editar esta mercaderia</button>
                </div>

            </article>

        </section>
    </main>

    <footer>
        <%- include( '../partials/footer' ) %>
    </footer>

</body>

</html>